{% extends "base.html" %}
{% block content %}


<h2 id="blog-cat">{{ category | title }}</h2>
<div>
  <ul class="tree-view" style="float: right;">
    <li>
      <details open>
        <summary>Categories</summary>
        <ul>
          {% for category in categories %}
          <li>
            <a href="{% url 'blog_category' category.name %}"> {{ category.name }} ({{ category.posts.count }})</a>
          </li>
          {% endfor %}
        </ul>
      </details>
    </li>
  </ul>
  <br>
</div>

<hr>
{% if not post_list %}
  <h4>No results were found for your search</h4>
{% else %}
{% for post in post_list %}
<section class="component">
  <div>
    <div class="window" style="width: 400px">
      <div class="title-bar">
        <div class="title-bar-text">{{ post.title }}</a></div>
        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <p>
          {{ post.author | upper }} |&nbsp;
          {{ post.created_on.date }} |&nbsp;
          Categories:&nbsp;
          {% for category in post.categories.all %}
          <a href="{% url 'blog_category' category.name %}">
              {{ category.name }}
          </a>&nbsp;
          {% endfor %}
        </p>
        <section class="field-row" style="justify-content: flex-end">
          <button onclick="location.href='{% url 'blog_detail' post.pk %}'"><a href="{% url 'blog_detail' post.pk %}">View</a></button>
        </section>
      </div>
    </div>
  </div>
</section>
{% endfor %}
{% endif %}

<section class="component">
  <form action="" method="GET">
    <div>
      <br>
      <select name="type">
        <option value="all">ALL</option>
        <option value="title">TITLE</option>
        <option value="content">CONTENT</option>
      </select>
      <input type="text" name="q" value="{{ q }}" placeholder="SEARCH">
      <button type="submit" id="search_btn">SEARCH</button>
    </div>
    <br>
  </form>
</section>

<section class="component">
  <div>
    <!-- Adding pagination interface.-->
    {% if is_paginated %}

    {% if page_obj.has_previous %}
    <button onclick="location.href='?type={{ type }}&q={{ q }}&page={{ page_obj.previous_page_number }}'">
      <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page_obj.previous_page_number }}" tabindex="-1">&laquo; PREV </a>
    </button>
    {% else %}
    <button>
      <a href="#" tabindex="-1">&laquo; PREV</a>
    </button>
    {% endif %}

    {% for page in page_range %}
    <button class="{% if page == page_obj.number %} activate {% endif %}" onclick="location.href='?type={{ type }}&q={{ q }}&page={{ page }}'">
      <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page }}">{{ page }} </a>
    </button>
    {% endfor %}

    {% if page_obj.has_next %}
    <button onclick="location.href='?type={{ type }}&q={{ q }}&page={{ page_obj.next_page_number }}'">
      <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page_obj.next_page_number }}" tabindex="1"> NEXT &raquo;</a>
    </button>
    {% else %}
    <button>
      <a href="#"> NEXT &raquo;</a>
    </button>
    {% endif %}
    {% endif %}
  </div>
</section>

{% endblock %}