{% extends "base.html" %}

{% block title%}{{ post.title }}{% for category in post.categories.all %} | {{ category.name }}{% endfor %} - Unlucky Strike{% endblock title %}

{% block content %}

<h2 id="post-title">{{ post.title }}</h2>
  <small>
    {{ post.author | upper}} |&nbsp;
    {{ post.created_on.date }} |&nbsp;
    Categories:&nbsp;
    {% for category in post.categories.all %}
    <a href="{% url 'blog_category' category.name %}">
        {{ category.name }}
    </a>&nbsp;
    {% endfor %}
  </small>
<hr>

<section class="component">
  <div style="width:100%; height:auto;">
    {{ post.body | safe }}
  </div>
</section>

<hr>
<section class="component">
  <h4>Comments</h4>
  <div style="width:100%; height:auto;">
    {% for comment in comments %}
    <blockquote>
    <p>
      On {{comment.created_on.date }}&nbsp;
      <b>{{ comment.author }}</b> wrote:
    </p>
    <p>{{ comment.body }}</p>
    </blockquote>
    {% endfor %}

    <form action="/blog/{{ post.pk }}" method="post">
      {% csrf_token %}
      <div class="form-group">
          {{ form.author }}
      </div>
      <br>
      <div class="form-group">
          {{ form.body }}
      </div>
      <p>Validation Code: {{ comment_validator }}</p>
      <div class="form-group">
          {{ form.verification }}
      </div>
      <input type="hidden" name="current_comment_validator" value="{{ comment_validator }}">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll("img").forEach(function(img) {
      img.removeAttribute("style");
      img.removeAttribute("width");
      img.removeAttribute("height");
    });
  });
</script>

{% endblock content %}