{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="{% static 'projects/images/cover-01.JPG' %}" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">001 : Object Detection</h1>
          </div>

          <div class="text-center">
          <a href="http://khuhub.khu.ac.kr/2019-1-capstone-design1/KNW_CNN_application" title="" class="fa-icon">
            <i class="fa fa-github"></i>
          </a>

          <a href="https://www.tensorflow.org" title="" class="fa-icon">
            <i class="fa fa-info"></i>
          </a>
          </div>
        </div>
      </div>

      

      <h2>Real-Time Object Detection Using CNN On Mobile Device</h2>
      <p>written by <strong>Jo Hyuk Jun</strong></p>

      <br>
      <iframe src="https://drive.google.com/file/d/19oRMgfOhAuxRSGfLnrZHKZPYyH3RNqUR/preview" width="640" height="480"></iframe>
      <embed src="{% static 'projects/project/objectdetection/pdf/2019-08-04-Real-Time-Object-Detection-Using-CNN-On-Mobile-Device.pdf' %}" type="application/pdf" width="100%" height="1000px"/>

      <br><br>

      <h2>Object Detection Using Custom Model</h2>
      <p>written by <strong>Jo Hyuk Jun</strong></p>

      <br>
      <!-- Simply set the `src` attribute to your MD file and win -->
      <zero-md src="/static/projects/project/objectdetection/markdown/2019-07-31-Object-Detection-Using-Custom-Model.md"></zero-md>


    </div>
  </div>
</div>

{% endblock %}