{% extends "base.html" %}

{% block title%}About - Unlucky Strike{% endblock title %}

{% load static %}

{% block content %}

<h2 id="about">About</h2>
<hr>
<section class="component">
  <h3 id="intro">Intro</h3>
  <div>
    <blockquote>
      <p>
        I’m JO HYUK JUN, a software engineer with professional programming skills.
      </p>
      <p>
        Welcome to my website. This website is all about me. It contains blogs, skills, works, and recent
        and ongoing projects. Please enjoy it!
      </p>
      <p>
        I have a specialty in areas such as server programming, financial services, database, and
        cutting-edge technology. I have participated in computer software projects such as developing
        web, mobile, and desktop applications. You can find more details and content about the
        projects on the <project> menu. If you are interested, please check the attached pages.
      </p>
      <footer>&mdash; Thank you for visiting my website.</footer>
    </blockquote>
  </div>
</section>
{% endblock %}