{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer text-center">
          <h1 class="h2">About me</h1>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <h3>Hello There!</h3>
                <p>First, thank you for visiting my website.
                  This website starts with my introduction and introduces my blog, skills, works and projects that have been going on. Please enjoy it.</p>
                <p>My name is JO HYUK JUN.
                  I am a developer and have professinal programming skills with that.
                  I also have appropriate projects related to computer software.
                  Especially, I am interested in areas such as server programming, blockchain network and cutting-edge technology.
                  I have also been involved in various projects related to this. Based on these fields, I have developed a web, mobile and desktop application.
                  Detailed project contents are summarized in the works menu area.
                  If you are interested, please check the attached pages.</p>
                <h3>Experience</h3>
                <h4>Guardian Holdings     2022.07 - Cur</h4>
                <P>System Development Office</P>
                <p>Backend Developer</p>
                <h4>Woori Bank            2021.01 - 2022.05</h4>
                <p>Corporate Finance Platform Department</p>
                <p>Associate</p>
                <h3>Education</h3>
                <h4>Kyung Hee University  2014.03 - 2020.02</h4>
                <p>Bachelors Degree<br>
                College of Software Kyung Hee University<br>
                Computer Engineering<br>
                <h3>Language</h3>
                <h4>Korean</h4>
                <p>Native</p>
                <h4>English</h4>
                <h5>TOEIC Speaking Test</h5>
                <p>Level 5</p>
                <h3>Certificate</h3>
                <h4>Engineer Information Processing</h4>
                <p>Human Resources Development Service of Korea</p>
                <h4>Azure Fundamentals</h4>
                <p>Microsoft</p>
                <h3>Remarks</h3>
                <h4>Military Service      2015.04 - 2017.01</h4>
                <p>Honorable discharge</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <img src="{% static 'images/profile.jpg' %}" class="img-responsive" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}