{% extends "base.html" %}
{% load static %}

{% block content %}



<h2 id="contact">Contact</h2>
<section class="component">
  <h3 id="info">Info</h3>
  <div>
    <div class="field-row-stacked" style="width: 400px">
      <label for="email">Email</label>
      <input id="email" type="email" placeholder="Email"/>
    </div>
    <div class="field-row-stacked" style="width: 400px">
      <label for="subject">Subject</label>
      <input id="subject" type="text" placeholder="Subject"/>
    </div>
    <div class="field-row-stacked" style="width: 400px">
      <label for="message">Message</label>
      <textarea id="message" rows="8" placeholder="Enter your message"></textarea>
    </div>
    <br>
    <button disabled type="submit" href="mailto:decibel@kakao.com">Send</button>

    <p>
      <li><a href="mailto:decibel@kakao.com">decibel@kakao.com</a></li>
      <li>Yongsan-gu, Seoul, Republic of Korea</li>
    </p>
  </div>
</section>

{% endblock %}