{% extends "base.html" %}
{% load static %}

{% block meta %}
  <meta name="description" content="LET THERE BE ROCK" />
  <meta name="keywords" content="Blog" />
  <meta name="author" content="JO HYUK JUN" />
  <meta name="naver-site-verification" content="f4381216d9e18517d425756fffae5a98e3f5c326" />


{% endblock meta %}

{% block content %}

<div class="window" style="margin: 32px; width: 250px">
  <div class="title-bar">
    <div class="title-bar-text">
      UNLUCKY STRIKE
    </div>

    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body">
    <p>Hello, there!</p>
    <section class="field-row" style="justify-content: flex-end">
      <button>OK</button>
      <button>Cancel</button>
    </section>
  </div>
</div>

{% endblock %}