{% extends "base.html" %}
{% load static %}

{% block meta %}
<meta name="description" content="LET THERE BE ROCK" />
<meta name="keywords" content="Portfolio, Blog" />
<meta name="author" content="JO HYUK JUN" />


<meta name="naver-site-verification" content="9e26f974e902727b55b811bfa7de33433074652a" />

{% endblock meta %}

{% block content %}

<div class="hero-full-container background-image-container white-text-container" style="background-image: url('/static/images/space.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>Hello, I'm<br>
                <span id="typed-strings">
                  <span>JO HYUK JUN</span>
                  <span>Software Engineer</span>
                  <span><img src="{% static 'images/unluckystrike_logo_clear.png' %}" width=50 height=50 alt="Unlucky Strike"></span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>

{% endblock %}