{% extends "base.html" %}
		

{% block content %}

	<div class="fh5co-loader"></div>
	
	<div id="page">	
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url(/static/images/cover_bg_3.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<div class="profile-thumb" style="background: url(/static/images/user-3.jpg);"></div>
							<h1><span>Jo Hyuk Jun</span></h1>
							<h3><span>Software Engineer</span></h3>
							<p>
								<ul class="fh5co-social-icons">
									<li><a href="https://github.com/JoHyukJun"><i class="icon-github2"></i></a></li>
									<li><a href="#"><i class="icon-facebook2"></i></a></li>
									<li><a href="#"><i class="icon-linkedin2"></i></a></li>
									<li><a href="#"><i class="icon-dribbble2"></i></a></li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>About Me</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<ul class="info">
						<li><span class="first-block">Full Name:</span><span class="second-block">Jo Hyuk Jun</span></li>
						<li><span class="first-block">Phone:</span><span class="second-block">+82 10-3126-0810</span></li>
						<li><span class="first-block">Email:</span><span class="second-block">computer@khu.ac.kr</span></li>
						<li><span class="first-block">Website:</span><span class="second-block">www.unluckystrike.com</span></li>
						<li><span class="first-block">Address:</span><span class="second-block">Yongin-si, Gyeonggi-do, Republic of Korea</span></li>
					</ul>
				</div>
				<div class="col-md-8">
					<h2>Hello There!</h2>
					<p>First, thank you for visiting my website. This website starts with my introduction and introduces my career, services, skills, work and projects that have been going on. Please enjoy it.</p>
					<p>My name is Jo Hyuk Jun. I am a software engineer and have basic programming skills. I also have a short term summer intern experience with appropriate projects related to computer software. Especially, I am interested in areas such as computer vision, multimedia system, machine learning, and image processing. I have also been involved in various projects related to this. Based on these fields, I have developed a mobile and desktop application. Detailed project contents are summarized in the work area below. If you are interested, please check the attached materials.</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="https://github.com/JoHyukJun"><i class="icon-github2"></i></a></li>
							<li><a href="#"><i class="icon-facebook3"></i></a></li>
							<li><a href="#"><i class="icon-linkedin2"></i></a></li>
							<li><a href="#"><i class="icon-dribbble2"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-resume" class="fh5co-bg-color">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>My Resume</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline">
						<li class="timeline-heading text-center animate-box">
							<div><h3>Work Experience</h3></div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Intern</h3>
									<span class="company">EM-Tech - 2018.08.03 - 2018.08.31</span>
								</div>
								<div class="timeline-body">
									<p>Development Department. Developing application that read and write data from the device eeprom.</p>
									<p>C++, Python, MFC, Embeded System</p>
								</div>
							</div>
						</li>
						<!--<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Junior Developer</h3>
									<span class="company">Company Name - 2013 - 2015</span>
								</div>
								<div class="timeline-body">
									<p>Far far away, behind the word mountains, they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">UI/UX Designer</h3>
									<span class="company">Company Name - 2010 - 2012</span>
								</div>
								<div class="timeline-body">
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
						</li>-->

						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>Education</h3></div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Bachelors Degree</h3>
									<span class="company">Kyung Hee University - 2014.03 - 2020.02</span>
								</div>
								<div class="timeline-body">
									<p>College of Software Kyung Hee University.</p>
									<p>Computer Engineering.</p>
									<p>GPA: 3.5 / 4.5</p>
								</div>
							</div>
						</li>

						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>Language</h3></div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-language"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Korean</h3>
									<span class="company">Native</span>
								</div>
								<div class="timeline-body">
									<p>-</p>
								</div>
							</div>
						</li>

						<br>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-language"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">English</h3>
									<span class="company">TOEIC</span>
								</div>
								<div class="timeline-body">
									<p>SCORE 935 - 2019.07.28 - 2021.07.28</p>
									<p>LC: 485 RC: 450</p>
								</div>
							</div>
						</li>

						<br>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-language"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">English</h3>
									<span class="company">TOEIC Speaking</span>
								</div>
								<div class="timeline-body">
									<p>LEVEL 6 - 2019.09.08 - 2021.09.08</p>
									<p>SCORE: 130</p>
								</div>
							</div>
						</li>
						<!--<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Bachelors Degree</h3>
									<span class="company">University Name - 2002 - 2006</span>
								</div>
								<div class="timeline-body">
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Diploma Course</h3>
									<span class="company">College Name - 1999 - 2001</span>
								</div>
								<div class="timeline-body">
									<p>Far far away, behind the word mountains, they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Graduation</h3>
									<span class="company">College Name - 1994 - 1998</span>
								</div>
								<div class="timeline-body">
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
						</li>-->
						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>Certificate</h3></div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-key"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Azure Fundamentals</h3>
									<span class="company">Microsoft</span>
								</div>
								<div class="timeline-body">
									<p>2020.09.05</p>
								</div>
							</div>
						</li>


						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>Remarks</h3></div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-scope"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Military Service</h3>
									<span class="company">Republic of Korea Army - 2015.04.20 - 2017.01.19</span>
								</div>
								<div class="timeline-body">
									<p>Leadership Rank: Sergeant</p>
									<p>Honorable discharge</p>
									<p>Transportation</p>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>
	

	<div id="fh5co-features" class="animate-box">
		<div class="container">
			<div class="services-padding">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>My Services</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-paintbrush"></i>
							</span>
							<div class="feature-copy">
								<h3>Web Development</h3>
								<p>-</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-briefcase"></i>
							</span>
							<div class="feature-copy">
								<h3>Moblile Application Development</h3>
								<p>-</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-search"></i>
							</span>
							<div class="feature-copy">
								<h3>Cloud Service Development</h3>
								<p>-</p>
							</div>
						</div>
					</div>

				</div>


				<div class="row">
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-bargraph"></i>
							</span>
							<div class="feature-copy">
								<h3>Image Processing</h3>
								<p>-</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-genius"></i>
							</span>
							<div class="feature-copy">
								<h3>Machine Learning</h3>
								<p>-</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-chat"></i>
							</span>
							<div class="feature-copy">
								<h3>Computer Vision</h3>
								<p>-</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-skills" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Skills</h2>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>C++</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Python</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Swift</strong>90%</span></div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Docker</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Linux</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>AWS</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Tensorflow</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>iOS</strong>90%</span></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">C++</span><span class="value-right">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Python</span><span class="value-right">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Swift</span><span class="value-right">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Docker</span><span class="value-right">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">Linux</span><span class="value-right">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">AWS</span><span class="value-right">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Tensorflow</span><span class="value-right">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">iOS</span><span class="value-right">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Work</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="/work/cognitive-services" class="work" style="background-image: url(/static/work/project/cognitiveservices/images/microsoft_logo.png);">
						<div class="desc">
							<h3>Cognitive Services - Microsoft Azure API</h3>
							<span>Project</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="/work/image-processing" class="work" style="background-image: url(/static/work/project/imageprocessing/images/imageprocessing_logo.png);">
						<div class="desc">
							<h3>Image Processing</h3>
							<span>Project</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="/work/object-detection" class="work" style="background-image: url(/static/work/project/objectdetection/images/objectdetection_logo.png);">
						<div class="desc">
							<h3>Object Detection</h3>
							<span>Project</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="/work/raspberry-pi-lab" class="work" style="background-image: url(/static/work/project/raspberrypi/images/raspberrypi_logo.jpg);">
						<div class="desc">
							<h3>Raspberry Pi</h3>
							<span>Project</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="/work/deep-learning-for-advanced-driver-assistance-system-applications" class="work" style="background-image: url(/static/work/project/jadas/images/jadas_logo.png);">
						<div class="desc">
							<h3>Deep Learning for Advanced Driver Assistance System Applications</h3>
							<span>Project</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(/static/images/portfolio-6.jpg);">
						<div class="desc">
							<h3>-</h3>
							<span>-</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(/static/images/portfolio-7.jpg);">
						<div class="desc">
							<h3>-</h3>
							<span>-</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(/static/images/portfolio-8.jpg);">
						<div class="desc">
							<h3>-</h3>
							<span>-</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div id="fh5co-started" class="fh5co-bg-dark">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Hire Me!</h2>
					<p>-</p>
					<p><a href="#" class="btn btn-default btn-lg">Contact Us</a></p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-consult">
		<div class="video fh5co-video" style="background-image: url(/static/images/cover_bg_1.jpg);">
			<div class="overlay"></div>
		</div>
		<div class="choose animate-box">
			<h2>Contact</h2>
			<form action="/email" method=POST>
				<div class="row form-group">
					<div class="col-md-6">
						<input type="text" name=fname class="form-control" placeholder="Your firstname" value="">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">
						<input type="text" name=lname class="form-control" placeholder="Your lastname" value="">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" name=sender class="form-control" placeholder="Your email address" value="">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" name=subject class="form-control" placeholder="Your subject of this message" value="">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Say something about me" value=""></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Send Message" class="btn btn-primary">
				</div>

			</form>	
		</div>
	</div>

	<div id="map" class="fh5co-map"></div>
	</div>
	
	<div id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>Designed by <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a> Template by <a href="https://themewagon.com" target="_blank">Themewagon</a> Demo Images: <a href="http://unsplash.com" target="_blank">Unsplash</a></p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}