{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="{% static 'service/images/open_webcam_test_logo.png' %}" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">Open Webcam Test</h1>
          </div>

          <div class="text-center">
          <a href="https://github.com/JoHyukJun/web" title="" class="fa-icon">
            <i class="fa fa-github"></i>
          </a>

          <a href="https://www.opencv.org/" title="" class="fa-icon">
            <i class="fa fa-info"></i>
          </a>
          </div>
        </div>
      </div>
      <video id="video" width="1280" height="720" autoplay></video>

      <br><br>

      <button type="button" id="webcamRun" class="btn btn-defalut">Run</button>
      <button type="button" id="webcamStop" class='btn btn-default'>Stop</button>
      <button type="button" id="webcamCapture" class='btn btn-default'>Capture</button>
      
      <br><br>
      <hr>

      <canvas id="canvas" width="1280" height="720"></canvas>
      <script>
        document.getElementById("webcamRun").addEventListener("click", function() {
          if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
	          navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
		          var video = document.getElementById('video');
		          video.srcObject = stream;
		          video.play();
	          });
          }
        });

        document.getElementById("webcamStop").addEventListener("click", function() {
          video.pause();
        });

        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var video = document.getElementById('video');
        document.getElementById("webcamCapture").addEventListener("click",function() {
	        context.drawImage(video,0,0,960,720);
        });
      </script>
    </div>
  </div>
</div>

{% endblock %}

