{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="{% static 'service/images/open_webcam_test_logo.png' %}" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">001 : Open Webcam Test</h1>
          </div>

          <div class="text-center">
          <a href="https://github.com/JoHyukJun/web" title="" class="fa-icon">
            <i class="fa fa-github"></i>
          </a>

          <a href="https://www.opencv.org/" title="" class="fa-icon">
            <i class="fa fa-info"></i>
          </a>
          </div>
        </div>
      </div>
       

      <a herf="" class="btn btn-default">Run</a>
      <a href="" class="btn btn-default">Stop</a>



    </div>
  </div>
</div>

{% endblock %}

