{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="{% static 'service/images/void_logo.png' %}" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">Random Access Music</h1>
          </div>

          <div class="text-center">
          <a href="https://github.com/JoHyukJun/web" title="" class="fa-icon">
            <i class="fa fa-github"></i>
          </a>

          <a href="https://www.unluckystrike.com/" title="" class="fa-icon">
            <i class="fa fa-info"></i>
          </a>
          </div>

        <button type="play" class="btn btn-default">PLAY</button>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

