[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/pi/Desktop/wdir/web/python-django/venv/bin/uwsgi -i /home/pi/Desktop/wdir/web/python-django/unluckystrike/config/uwsgi/unluckystrike.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target