{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
        <img src="{% static 'service/images/aimyon_logo.png' %}" class="img-responsive" alt="">
        </div>
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">AIMYON</h1>
          </div>

          <div class="text-center">
          <a href="https://github.com/JoHyukJun/aimyon" title="" class="fa-icon">
            <i class="fa fa-github"></i>
          </a>

          <a href="https://aimyon.io/" title="aimyon" class="fa-icon">
            <i class="fa fa-info"></i>
          </a>
          </div>
          <div class="text-center">
          <a href="https://aimyon.io" title="" class="btn btn-default">VISIT</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

