{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="{% static 'service/images/aimyon_logo.png' %}" class="center-block" alt="Logo" width="360" height="360">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">AIMYON</h1>
          </div>

          <div class="text-center">
          <a href="https://github.com/JoHyukJun/aimyon" title="" class="fa-icon">
            <i class="fa fa-github"></i>
          </a>

          <a href="https://aimyon.io/" title="aimyon" class="fa-icon">
            <i class="fa fa-info"></i>
          </a>
          </div>
          <div class="text-center">
          <a href="https://aimyon.io" title="" class="btn btn-default">VISIT</a>
          </div>

          <p><a name="readme-top"></a></p>
          <p><a href="https://github.com/JoHyukJun/aimyon/pulse"><img src="https://img.shields.io/github/commit-activity/m/JoHyukJun/aimyon.svg?style=for-the-badge" alt="Activity"></a>
          <a href="https://github.com/JoHyukJun/aimyon/graphs/contributors"><img src="https://img.shields.io/github/contributors/JoHyukJun/aimyon.svg?style=for-the-badge" alt="Contributors"></a>
          <a href="https://github.com/JoHyukJun/aimyon/network/members"><img src="https://img.shields.io/github/forks/JoHyukJun/aimyon.svg?style=for-the-badge" alt="Forks"></a>
          <a href="https://github.com/JoHyukJun/aimyon/stargazers"><img src="https://img.shields.io/github/stars/JoHyukJun/aimyon.svg?style=for-the-badge" alt="Stargazers"></a>
          <a href="https://github.com/JoHyukJun/aimyon/issues"><img src="https://img.shields.io/github/issues/JoHyukJun/aimyon.svg?style=for-the-badge" alt="Issues"></a>
          <a href="https://github.com/JoHyukJun/aimyon/blob/master/LICENSE"><img src="https://img.shields.io/github/license/JoHyukJun/aimyon.svg?style=for-the-badge" alt="MIT License"></a></p>
          <!-- PROJECT LOGO -->
          <p><br /></p>
          <div align="center">
            <a href="https://github.com/JoHyukJun/aimyon">
              <img src="{% static 'service/images/aimyon_logo.png' %}" alt="Logo" width="360" height="360">
            </a>

            <h3 align="center">aimyon</h3>

            <p align="center">
              A wiki archive web service project
              <br />
              <a href="https://github.com/JoHyukJun/aimyon"><strong>Explore the docs »</strong></a>
              <br />
              <br />
              <a href="https://aimyon.io">View Demo</a>
              ·
              <a href="https://github.com/JoHyukJun/aimyon/issues">Report Bug</a>
              ·
              <a href="https://github.com/JoHyukJun/aimyon/issues">Request Feature</a>
            </p>
          </div>


          <!-- TABLE OF CONTENTS -->
          <details>
            <summary>Table of Contents</summary>
            <ol>
              <li>
                <a href="#about-the-project">About The Project</a>
                <ul>
                  <li><a href="#built-with">Built With</a></li>
                </ul>
              </li>
              <li>
                <a href="#getting-started">Getting Started</a>
                <ul>
                  <li><a href="#prerequisites">Prerequisites</a></li>
                  <li><a href="#installation">Installation</a></li>
                </ul>
              </li>
              <li><a href="#usage">Usage</a></li>
              <li><a href="#roadmap">Roadmap</a></li>
              <li><a href="#contributing">Contributing</a></li>
              <li><a href="#license">License</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="#acknowledgments">Acknowledgments</a></li>
            </ol>
          </details>



          <!-- ABOUT THE PROJECT -->
          <h2 id="about-the-project">About The Project</h2>
          <p>The purpose is to enable everyone to participate in implementing an archive system that can be modified and to introduce an effective search system to check fast information.</p>
          <p>Here&#39;s why:</p>
          <ul>
          <li>Absence of communities to share diverse opinions</li>
          <li>Centralized information editing privileges</li>
          <li>Absence of intuitive search capabilities</li>
          </ul>
          <p>We are developing a website production and open source project that everyone can participate in, so please contribute a lot.</p>
          <p align="right">(<a href="#readme-top">back to top</a>)</p>



          <h3 id="built-with">Built With</h3>
          <ul>
          <li><a href="https://nestjs.com/"><img src="https://img.shields.io/badge/nestjs-000000?style=for-the-badge&amp;logo=nestjs&amp;logoColor=white" alt="Nest"></a></li>
          <li><a href="https://www.mongodb.com"><img src="https://img.shields.io/badge/mongodb-000000?style=for-the-badge&amp;logo=mongodb&amp;logoColor=white" alt="MongoDB"></a></li>
          <li><a href="https://reactjs.org/"><img src="https://img.shields.io/badge/React-000000?style=for-the-badge&amp;logo=react&amp;logoColor=white" alt="React"></a></li>
          <li><a href="https://www.nginx.com/"><img src="https://img.shields.io/badge/nginx-000000?style=for-the-badge&amp;logo=nginx&amp;logoColor=white" alt="Nginx"></a></li>
          </ul>
          <p align="right">(<a href="#readme-top">back to top</a>)</p>



          <!-- GETTING STARTED -->
          <h2 id="getting-started">Getting Started</h2>
          <p>To get a local copy up and running follow these simple example steps.</p>
          <h3 id="prerequisites">Prerequisites</h3>
          <p>This is an example of how to list things you need to use the software and how to install them.</p>
          <ul>
          <li>npm<pre><code class="lang-sh"><span class="hljs-built_in">npm</span> install <span class="hljs-built_in">npm</span>@latest -g
          </code></pre>
          </li>
          <li>yarn<pre><code class="lang-sh"><span class="hljs-built_in">npm</span> install --<span class="hljs-built_in">global</span> yarn
          </code></pre>
          </li>
          </ul>
          <h3 id="installation">Installation</h3>
          <p>Perform the following procedure to install the required package.</p>
          <ol>
          <li>Clone the repo<pre><code class="lang-sh">git <span class="hljs-keyword">clone</span> <span class="hljs-title">https</span>://github.com/JoHyukJun/aimyon.git
          </code></pre>
          </li>
          <li>Install NPM packages<pre><code class="lang-sh">yarn <span class="hljs-keyword">install</span>
          </code></pre>
          </li>
          </ol>
          <h3 id="docker">Docker</h3>
          <ul>
          <li>Dev<pre><code class="lang-sh"> docker-compose -f docker-compose<span class="hljs-selector-class">.dev</span><span class="hljs-selector-class">.yml</span> up
          </code></pre>
          </li>
          </ul>
          <p align="right">(<a href="#readme-top">back to top</a>)</p>



          <!-- USAGE EXAMPLES -->
          <h2 id="usage">Usage</h2>
          <p><em>For more examples, please refer to the <a href="https://aimyon.io/v1/api/documents">Documentation</a></em></p>
          <p align="right">(<a href="#readme-top">back to top</a>)</p>



          <!-- ROADMAP -->
          <h2 id="roadmap">Roadmap</h2>
          <ul>
          <li>[x] Add auth service</li>
          <li>[x] Add basic database modeling</li>
          <li>[ ] Add additional feed service</li>
          <li>[ ] Set stable server system</li>
          <li>[ ] Multi-language Support<ul>
          <li>[ ] English</li>
          <li>[ ] Korean</li>
          </ul>
          </li>
          </ul>
          <p>See the <a href="https://github.com/JoHyukJun/aimyon/issues">open issues</a> for a full list of proposed features (and known issues).</p>
          <p align="right">(<a href="#readme-top">back to top</a>)</p>



          <!-- CONTRIBUTING -->
          <h2 id="contributing">Contributing</h2>
          <p>Contributions are what make the open source community such an amazing place to learn, inspire, and create. Any contributions you make are <strong>greatly appreciated</strong>.</p>
          <p>If you have a suggestion that would make this better, please fork the repo and create a pull request. You can also simply open an issue with the tag &quot;enhancement&quot;.
          Don&#39;t forget to give the project a star! Thanks again!</p>
          <ol>
          <li>Fork the Project</li>
          <li>Create your Feature Branch (<code>git checkout -b feature/amazing-feature</code>)</li>
          <li>Commit your Changes (<code>git commit -m &#39;feat: Add some amazing-feature&#39;</code>)</li>
          <li><p>commit message</p>
          <pre><code class="lang-git">&lt;<span class="hljs-keyword">type</span>&gt;[<span class="hljs-keyword">optional</span> scope]: &lt;description&gt;

          [<span class="hljs-keyword">optional</span> body]

          [<span class="hljs-keyword">optional</span> footer(s)]
          </code></pre>
          </li>
          <li>commit type<pre><code class="lang-git">- feat: <span class="hljs-keyword">a</span> commit <span class="hljs-keyword">of</span> <span class="hljs-keyword">the</span> type feat introduces <span class="hljs-keyword">a</span> <span class="hljs-built_in">new</span> feature <span class="hljs-built_in">to</span> <span class="hljs-keyword">the</span> codebase
          - fix: <span class="hljs-keyword">a</span> commit <span class="hljs-keyword">of</span> <span class="hljs-keyword">the</span> type fix patches <span class="hljs-keyword">a</span> bug <span class="hljs-keyword">in</span> your codebase
          </code></pre>
          </li>
          <li>Push to the Branch (<code>git push origin feature/amazing-feature</code>)</li>
          <li>Open a Pull Request</li>
          </ol>
          <p align="right">(<a href="#readme-top">back to top</a>)</p>



          <!-- LICENSE -->
          <h2 id="license">License</h2>
          <p>Distributed under the MIT License. See <code>LICENSE.txt</code> for more information.</p>
          <p align="right">(<a href="#readme-top">back to top</a>)</p>



          <!-- CONTACT -->
          <h2 id="contact">Contact</h2>
          <p>JO HYUK JUN - hyukzuny@gmail.com</p>
          <p>Project Link: <a href="https://github.com/JoHyukJun/aimyon">https://github.com/JoHyukJun/aimyon</a></p>
          <p align="right">(<a href="#readme-top">back to top</a>)</p>



          <!-- ACKNOWLEDGMENTS -->
          <h2 id="acknowledgments">Acknowledgments</h2>
          <ul>
          <li><a href="https://nestjs.com">Nestjs</a></li>
          <li><a href="https://www.prisma.io">Prisma</a></li>
          <li><a href="https://www.mongodb.com">MongoDB</a></li>
          <li><a href="https://reactjs.org">React</a></li>
          </ul>
          <p align="right">(<a href="#readme-top">back to top</a>)</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

