{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
  .wrap {position: absolute;left: 0;bottom: 0px;width: 300px;height: 132px;margin-left: 0px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
  .wrap * {padding: 0;margin: 0;}
  .wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
  .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
  .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
  .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
  .info .close:hover {cursor: pointer;}
  .info .body {position: relative;overflow: hidden;}
  .info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
  .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
  .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
  .info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
  .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
  .info .link {color: #5085BB;}
</style>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="{% static 'service/images/fishingram_logo.png' %}" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">피싱그램</h1>
          </div>

          <div class="text-center">
          <a href="https://github.com/JoHyukJun/web" title="" class="fa-icon">
            <i class="fa fa-github"></i>
          </a>

          <a href="https://www.unluckystrike.com/" title="" class="fa-icon">
            <i class="fa fa-info"></i>
          </a>
          </div>
          </div>
        	<div id="map" style="width:100%;height:720px;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a57fce717218d080b5b018a61738295a"></script>

<script>
var fishig_plc_positions = initPositions();
initMap(fishig_plc_positions);


/**
 * init kakao map component
 * 
 * @param plc_data {Array} positions data
 * 
 */
function initMap(plc_data) {
  var map_container = document.getElementById('map');
  var map_options = {
    // certer = mt.nam
    center: new kakao.maps.LatLng(37.551224, 126.988247),
    level: 5
  };

  var map = new kakao.maps.Map(map_container, map_options);

  // 마커 이미지의 이미지 주소
  var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
  
  // 마커 이미지의 이미지 크기
  var imageSize = new kakao.maps.Size(24, 35); 
  
  // 마커 이미지를 생성 
  var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
      
  for (var i = 0; i < plc_data.length; i ++) {
      // 마커를 생성
      var marker = new kakao.maps.Marker({
          map: map, // 마커를 표시할 지도
          position: plc_data[i].latlng, // 마커를 표시할 위치
          title : plc_data[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시
          image : markerImage // 마커 이미지 
      });

      // 커스텀 오버레이에 표시할 컨텐츠 입니다
      // 커스텀 오버레이는 아래와 같이 사용자가 자유롭게 컨텐츠를 구성하고 이벤트를 제어할 수 있기 때문에
      // 별도의 이벤트 메소드를 제공하지 않습니다 
      var content_plc = '<div class="wrap">' + 
                  '    <div class="info">' + 
                  '        <div class="title">' + 
                  '            ' + plc_data[i].title + 
                  '        </div>' + 
                  '        <div class="body">' +
                  '          <div class="ellipsis">' + plc_data[i].lotnm_addr + '</div>' + 
                  '          <div class="jibun ellipsis">' + plc_data[i].roadnm_addr + '</div>' + 
                  '          <div class="jibun ellipsis">' + '이용요금: ' + plc_data[i].chrg_info + '</div>' + 
                  '        </div>' + 
                  '    </div>' +    
                  '</div>';

      // 마커에 표시할 인포윈도우를 생성
      var infowindow = new kakao.maps.InfoWindow({
          content: content_plc // 인포윈도우에 표시할 내용
      });

      //var overlay = new kakao.maps.CustomOverlay({
      //content: content_plc,
      //map: map,
      //position: marker.getPosition()  
      //});

      // 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
      //kakao.maps.event.addListener(marker, 'click', function() {
      //    overlay.setMap(map);
      //});

      // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록
      // 이벤트 리스너로는 클로저를 만들어 등록
      // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록
      kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
      kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));

      //kakao.maps.event.addListener(marker, 'mouseover', overLayMouseOverListener(map, marker, overlay));
      //kakao.maps.event.addListener(marker, 'mouseout', overLayMouseOutListener(overlay));
  }
}


function overLayMouseOverListener(map, marker, overlay) {
  overlay.setMap(map);
}


function overLayMouseOutListener(overlay) {
  overlay.setMap(null);
}


/**
 * init map postions
 * 
 * @returns {Array} positions data
 */
function initPositions() {
  var plc = JSON.parse("{{ fishing_place_info | escapejs }}");

  //var plc_name = document.getElementById("facility_name").innerText.split(',');
  //var plc_lat = document.getElementById("refine_lat").innerText.split(',');
  //var plc_logt = document.getElementById("refine_logt").innerText.split(',');

  var fishig_plc_positions = new Array();

  for (var idx = 0; idx < plc.length; idx++) {
    var tmp_obj = new Object();
    tmp_obj.title = plc[idx]['facility_name'];
    tmp_obj.latlng = new kakao.maps.LatLng(plc[idx]['refine_lat'], plc[idx]['refine_logt']);
    tmp_obj.roadnm_addr = plc[idx]['refine_roadnm_addr'];
    tmp_obj.lotnm_addr = plc[idx]['refine_lotnm_addr'];
    tmp_obj.chrg_info = plc[idx]['chrg_info'];

    fishig_plc_positions.push(tmp_obj);
  }

  //for (var idx = 0; idx < plc_lat.length; idx++) {
  //  var tmp_obj = new Object();
  //  tmp_obj.title = plc_name[idx];
  //  tmp_obj.latlng = new kakao.maps.LatLng(plc_lat[idx], plc_logt[idx]);
    
  //  fishig_plc_positions.push(tmp_obj);
  //}
  return fishig_plc_positions
}
              

// 커스텀 오버레이를 닫기 위해 호출되는 함수
function closeOverlay() {
    overlay.setMap(null);     
}


// 인포윈도우를 표시하는 클로저를 만드는 함수
function makeOverListener(map, marker, infowindow) {
    return function() {
        infowindow.open(map, marker);
    };
}


// 인포윈도우를 닫는 클로저를 만드는 함수
function makeOutListener(infowindow) {
    return function() {
        infowindow.close();
    };
}

              
</script>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}