{% extends "base.html" %}

{% block content %}

<div class="fh5co-loader"></div>
	
	<div id="page">	
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url(/static/images/cover_bg_3.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<div class="profile-thumb" style="background: url(/static/work/project/raspberrypi/images/raspberrypi_logo.jpg);"></div>
							<h1><span>Raspberry Pi Lab</span></h1>
                            <h3><span>Project</span></h3>
                            <p>
								<ul class="fh5co-social-icons">
                                    <li><a href="http://unluckystrike.com/"><i class="icon-home"></i></a></li>
                                    <li><a href="https://github.com/JoHyukJun/raspberry-pi-lab"><i class="icon-github2"></i></a></li>
									<li><a href="https://www.raspberrypi.org/"><i class="icon-info"></i></a></li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>


    <div id="fh5co-blog">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Deep Learning for Smoking Detection Intelligent CCTV</h2>
                    <p>written by <strong>Jo Hyuk Jun</strong></p>
                </div>
            </div>
        <br>
        <embed src="/static/work/project/raspberrypi/pdf/2019-12-14-Deep-Learning-For-Somking-Detection-Intelligent-CCTV.pdf" type="application/pdf" width="100%" height="1000px"/>
    
        <br><br>
    
        </div>
    </div>



{% endblock %}