{% extends "base.html" %}
{% load static %}

{% block content %}

<h2 id="about">jADAS</h2>
<hr>
<section class="component">
  <h3>Deep Learning for Advanced Driver Assistance System Applications - Demo</h3>
  <div style="width:auto">
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dirHL_QDYgg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wG1tRNJHmEk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><br>
  </div>
</section>

<section class="component">
  <h3>Deep Learning for Advanced Driver Assistance System Applications - Report</h3>
  <div style="width:auto">
    <br>
    <embed src="{% static 'projects/project/jadas/pdf/2019-12-11-Deep-Learning-for-Advanced-Driver-Assistance-System-Applications-Presentation.pdf' %}" type="application/pdf" width="400" height="1000px"/>
    <br><br>
    <embed src="{% static 'projects/project/jadas/pdf/2019-12-11-Deep-Learning-for-Advanced-Driver-Assistance-System-Applications.pdf' %}" type="application/pdf" width="400" height="1000px"/>
    <br><br>
  </div>
</section>

<section class="component">
  <h3>Deep Learning for Advanced Driver Assistance System Applications - README</h3>
  <div style="width:auto">
    <br>
    <!-- Simply set the `src` attribute to your MD file and win -->
    <zero-md src="{% static 'projects/project/jadas/markdown/2019-12-11-Deep-Learning-for-Advanced-Driver-Assistance-System-Applications.md' %}"></zero-md>>
  </div>
</section>

{% endblock %}