{% extends "base.html" %}
{% load static %}

{% block content %}

<h2 id="image-processing">Image Processing</h2>
<hr>
<section class="component">
  <h3>Face Recognition Using Color</h3>
  <div style="width:auto">
    <br>
    <embed src="{% static 'projects/project/imageprocessing/pdf/2019-07-31-Face-Recognition-Using-Color.pdf' %}" type="application/pdf" width="100%" height="1000px"/>
    <br><br>
  </div>
</section>

<section class="component">
  <h3>Face Recognition Using Histogram</h3>
  <div style="width:auto">
    <br>
    <embed src="{% static 'projects/project/imageprocessing/pdf/2019-07-31-Face-Recognition-Using-Histogram.pdf' %}" type="application/pdf" width="100%" height="1000px"/>
    <br><br>
  </div>
</section>

<section class="component">
  <h3>Moving Detection Using Difference Image</h3>
  <div style="width:auto">
    <br>
    <embed src="{% static 'projects/project/imageprocessing/pdf/2019-07-31-Moving-Object-Detection-Using-Difference-Image.pdf' %}" type="application/pdf" width="100%" height="1000px"/>
    <br><br>
  </div>
</section>

<section class="component">
  <h3>Face And Age Prediction Using CNN - Parental Age Limit</h3>
  <div style="width:auto">
    <br>
    <embed src="{% static 'projects/project/imageprocessing/pdf/2019-07-31-Face-And-Age-Prediction-Using-CNN-Parental-Age-Limit.pdf' %}" type="application/pdf" width="100%" height="1000px"/>
    <br><br>
  </div>
</section>

{% endblock %}