{% extends "base.html" %}

{% block title%}로또 번호 생성기 - Unlucky Strike{% endblock title %}

{% block content %}

<h2 id="lottery">로또 번호 생성기</h2>

<section class="component">
    <div>
      <div class="window" style="width: 400px">
        <div class="title-bar">
          <div class="title-bar-text">로또 번호 생성기</a></div>
          <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
          </div>
        </div>
        <div class="window-body">
          <p>
            {{ now_date }} |&nbsp;
            로또 번호: {{ lottery_number }} |&nbsp;
          </p>
          <section class="field-row" style="justify-content: flex-end">
            <button onclick="location.href='/projects/lottery'"><a href="/projects/lottery">재생성</a></button>
          </section>
        </div>
      </div>
    </div>
  </section>


{% endblock %}