{% extends "base.html" %}
{% load static %}

{% block content %}

<h2 id="object-detection">Object Detection</h2>
<hr>
<section class="component">
  <h3>Real-Time Object Detection Using CNN On Mobile Device</h3>
  <div style="width:auto">
    <br>
    <embed src="{% static 'projects/project/objectdetection/pdf/2019-08-04-Real-Time-Object-Detection-Using-CNN-On-Mobile-Device.pdf' %}" type="application/pdf" width="100%" height="1000px"/>
    <br><br>
  </div>
</section>

<section class="component">
  <h3>Object Detection Using Custom Model</h3>
  <div style="width:auto">
    <br>
    <!-- Simply set the `src` attribute to your MD file and win -->
    <zero-md src="{% static 'projects/project/objectdetection/markdown/2019-07-31-Object-Detection-Using-Custom-Model.md' %}"></zero-md>
  </div>
</section>

{% endblock %}