{% extends "base.html" %}

{% block title%}Open Webcam Test - Unlucky Strike{% endblock title %}

{% block content %}

<h2 id="lottery">Open Webcam Test</h2>

<section class="component">
    <div>
      <div class="window" style="width: 1280px">
        <div class="title-bar">
          <div class="title-bar-text">Open Webcam Test</a></div>
          <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
          </div>
        </div>
        <div class="window-body">
          <video id="video" width="1280" height="720" autoplay></video>
          <section class="field-row" style="justify-content: flex-end">
            <button type="button" id="webcamRun" class="btn btn-defalut">Run</button>
            <button type="button" id="webcamStop" class='btn btn-default'>Stop</button>
            <button type="button" id="webcamCapture" class='btn btn-default'>Capture</button>
          </section>
        </div>
      </div>
    </div>
</section>
<br>
<br>
<br>
<section class="component">
  <div>
    <div class="window" style="width: 1280px">
      <div class="title-bar">
        <div class="title-bar-text">Capture Image</a></div>
        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <canvas id="canvas" width="1280" height="720"></canvas>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</section>

<script>
  document.getElementById("webcamRun").addEventListener("click", function() {
    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
      navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
        var video = document.getElementById('video');
        video.srcObject = stream;
        video.play();
      });
    }
  });

  document.getElementById("webcamStop").addEventListener("click", function() {
    video.pause();
  });

  var canvas = document.getElementById('canvas');
  var context = canvas.getContext('2d');
  var video = document.getElementById('video');
  document.getElementById("webcamCapture").addEventListener("click",function() {
    context.drawImage(video,0,0,960,720);
  });
</script>

{% endblock %}
