{% extends "base.html" %}
{% load static %}

{% block content %}

<h2 id="project">Project</h2>
<hr>
<section class="component">
  <div>
    <div class="window" style="width: 400px">
      <div class="title-bar">
        <div class="title-bar-text">Object Detection</div>
        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <p>Real-Time Object Detection Using CNN On Mobile Device</p>
        <section class="field-row" style="justify-content: flex-end">
          <button onclick="location.href='/projects/object-detection'"><a href="/projects/object-detection">View</a></button>
        </section>
      </div>
    </div>
  </div>
</section>

<section class="component">
  <div>
    <div class="window" style="width: 400px">
      <div class="title-bar">
        <div class="title-bar-text">Raspberry Pi Lab</div>
        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <p>Deep Learning for Smoking Detection Intelligent CCTV</p>
        <section class="field-row" style="justify-content: flex-end">
          <button onclick="location.href='/projects/raspberry-pi-lab'"><a href="/projects/raspberry-pi-lab">View</a></button>
        </section>
      </div>
    </div>
  </div>
</section>

<section class="component">
  <div>
    <div class="window" style="width: 400px">
      <div class="title-bar">
        <div class="title-bar-text">jADAS</div>
        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <p>Deep Learning for Advanced Driver Assistance System Applications</p>
        <section class="field-row" style="justify-content: flex-end">
          <button onclick="location.href='/projects/deep-learning-for-advanced-driver-assistance-system-applications'"><a href="/projects/deep-learning-for-advanced-driver-assistance-system-applications">View</a></button>
        </section>
      </div>
    </div>
  </div>
</section>

<section class="component">
  <div>
    <div class="window" style="width: 400px">
      <div class="title-bar">
        <div class="title-bar-text">Image Processing</div>
        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <p>Image Processing</p>
        <section class="field-row" style="justify-content: flex-end">
          <button onclick="location.href='/projects/image-processing'"><a href="/projects/image-processing">View</a></button>
        </section>
      </div>
    </div>
  </div>
</section>

<section class="component">
  <div>
    <div class="window" style="width: 400px">
      <div class="title-bar">
        <div class="title-bar-text">Cognitive Services</div>
        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <p>Microsoft Azure API</p>
        <section class="field-row" style="justify-content: flex-end">
          <button onclick="location.href='/projects/cognitive-services'"><a href="/projects/cognitive-services">View</a></button>
        </section>
      </div>
    </div>
  </div>
</section>

{% endblock %}