{% extends "base.html" %}

{% block title%}{{ post.title }} {% for category in post.categories.all %} #{{ category.name }}{% endfor %} - Unlucky Strike{% endblock title %}

{% block content %}
<div class="section-container">
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
          <div class="text-center">
            <h1 class="h2">{{ post.title }}</h1>
          </div>
        </div>
        <div class="col-sm-12">
    <small>
        {{ post.author | upper}} |&nbsp;
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <hr>

    <p>{{ post.body | safe }}</p>

    <h4>Leave a comment:</h4>
    <form action="/blog/{{ post.pk }}/" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.author }}
        </div>
        <div class="form-group">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <h3>Comments:</h3>
    {% for comment in comments %}
    <p>
        On {{comment.created_on.date }}&nbsp;
        <b>{{ comment.author }}</b> wrote:
    </p>
    <p>{{ comment.body }}</p>
    <hr>
    {% endfor %}
</div>
</div>
</div>
</div>
{% endblock %}