{% extends "base.html" %}
{% block content %}


<div class="section-container">
  <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
          <div class="text-center">
            <h1 class="h2">{{ category | title }}</h1>
          </div>
        </div>
        <div class="col-sm-12">
    <hr>
    {% for post in posts %}
        <h2><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></h2>
        <br>
        <small>
            {{ post.author }} |&nbsp;
            {{ post.created_on.date }} |&nbsp;
            Categories:&nbsp;
            {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}
            </a>&nbsp;
            {% endfor %}
        </small>
        <br>
        <a href="{% url 'blog_detail' post.pk %}" class="btn btn-default">Discover</a>
        <br>
        <hr>
        <!-- Issue
        <p>{{ post.body | safe | slice:":100" }}...</p>
        -->
    {% endfor %}
    </div>
</div>
</div>
</div>
{% endblock %}